# Это корневой файл настроек для всего проекта
root = true

# Правила для всех файлов (*)
[*]
# Использовать кодировку UTF-8
charset = utf-8
# Использовать пробелы для отступов 
indent_style = space 
# Размер отступрв: 4 пробела 
indent_size = 4
# Тип переноса строки: LF (стандарт для Linux/macOS и Git)
end_of_line = lf
# Удалять лишние пробелы в конце строки 
trim_trailing_whitespace = true
# Добовлять пустую строку в конце файла
insert_final_newline = true

# Особые правила для файов разметки
[*.{yml,yml,json,html}]
indent_size = 2
